<h1>Add Moment</h1><hr/>
<form action="/add-moment" method="post" enctype="multipart/form-data">
  <input type="file" name="postImageName"/>
  <br/>
  <br/>
  <input type="text" name="caption" />
  <br/>
  <input type="submit" value="submit" />
</form>