<div class="login-form">
  <form action="/login" method="post" accept-charset="utf-8">
    <b>username : </b><input type="text" name="username" id="" value="" /><br />
    <b>password : </b><input type="password" name="password" id="" value="" /><br />
    <input type="submit" name="" id="" value="submit" />
  </form>
</div>
{{#if message}}
 <b>{{message}}</b>
{{/if}}